body {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  font-family: sans-serif;
  /* background-color: green; */
}

nav {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

article {
  margin-bottom: 2rem;
}

input,
textarea,
select {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: 0.5rem 0 1rem;
  padding: 0.5rem;
}

button,
input[type="submit"] {
  width: auto;
  cursor: pointer;
}
